{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h2>{{ title }}</h2>

    <nav class="form-actions">
        <a href="{% url 'catalogue:reservation-edit' reservation.id %}" class="btn btn-success">✏️ Modifier</a>
        <a href="{% url 'catalogue:reservation-delete' reservation.id %}" class="btn btn-danger">🗑 Supprimer</a>
    </nav>

    <p><strong>Spectacle :</strong> {{ reservation.representation.show.title }}</p>
    <p><strong>Date :</strong> {{ reservation.representation.when|date:"d/m/Y H:i" }}</p>
    <p><strong>Lieu :</strong> {{ reservation.representation.location.designation }}</p>
    <p><strong>Statut :</strong> {{ reservation.status }}</p>

    <h3>Places réservées :</h3>
    <ul>
        {% for item in reservation.items.all %}
            <li>{{ item.quantity }} × {{ item.price.type }}</li>
        {% endfor %}
    </ul>

    <nav>
        <a href="{% url 'catalogue:reservation-index' %}" class="btn">← Retour</a>
    </nav>
{% endblock %}
