{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="form-actions">
        <a href="{% url 'catalogue:show-edit' show.slug %}" class="btn btn-primary">✏️ Modifier</a>
        <a href="{% url 'catalogue:show-delete' show.slug %}" class="btn btn-danger">🗑 Supprimer</a>
    </div>

    <h2>{{ title }}</h2>

    <p><strong>Titre :</strong> {{ show.title }}</p>
    <p><strong>Description :</strong><br>{{ show.description|linebreaks }}</p>

    <hr>

    <h3>Tarifs</h3>
    <ul>
        {% for price in show.prices.all %}
            <li><a href="{% url 'catalogue:price-show' price.id %}">{{ price.type }} - {{ price.price }} €</a></li>
        {% empty %}
            <li>Aucun tarif défini</li>
        {% endfor %}
    </ul>
    
    <hr>

    <h3>📅 Représentations à venir</h3>

    {% if representations %}
        <ul>
            {% for rep in representations %}
                <li>
                    <a href="{% url 'catalogue:representation-show' rep.id %}">🕒 {{ rep.when|date:"d/m/Y H:i" }} - ({{ rep.location.designation }})</a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucune représentation prévue.</p>
    {% endif %}

    <hr>

    <div class="form-actions">
        <a href="{% url 'catalogue:show-index' %}" class="btn btn-secondary">🔙 Retour à la liste</a>
    </div>
{% endblock %}
